<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CloudLibrary Sanity Suite">
	<listeners>
		<listener class-name="Helper.TestListener" />
		<listener class-name="Helper.RetryListenerClass" />
	</listeners>
	
  <test name="WPT Sanity Check" >
      
   <classes>
      <class name="WPT.SanityTests">
        <methods>
        <include name="verify_ValidUser"/>       
      	<include name="verify_Filter" />
        <include name="verify_EBookBookmark" />
        <include name="verify_EBookBookmarkDelete" />        
        <include name="verify_EBookGotoPage" />        
        <include name="borrow_EBook" />
        <include name="borrow_AudioBook" />
        <include name="search_EBook" />
        <include name="search_AudioBook" />
        <include name="verify_Shelf" />
        <include name="verify_Suggest" />
        <include name="verify_ClearHistory" /> 
		<include name="verify_flaggedTitle" /> 
      </methods>
     </class>
      <class name="Android.SanityDeviceTest">
        <methods>
        <include name="verifyInvalidUser" />
        <include name="verifyLogin" />
        <include name="verify_eBookFilter" />
        <include name="verify_AudioBookFilter" />
        <include name="verify_BorrowEBook" />
        <include name="verify_BorrowAudioBook" />
        <include name="verifyShelfName" />        
      </methods>
     </class>
              
   </classes> 
  
  </test>

</suite>