<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CloudLibrary Sanity Suite">
	<listeners>
		<listener class-name="Helper.TestListener" />
		<listener class-name="Helper.RetryListenerClass" />
	</listeners>
	
  <test name="WPT Sanity Check" >
      
   <classes>
     <class name="WPT.SanityTests">
       <methods>
        <include name="verify_ValidUser"/>
          
      </methods>
     </class>
      <class name="Android.SanityDeviceTest">
        <methods>
        <include name="verifyInvalidUser" />
        <include name="verifyLogin" />
             
      </methods>
     </class>
              
   </classes> 
  
  </test>

</suite>
