<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CloudLibrary_Sanity_Suite" verbose="2">
    
	<listeners>
		<listener class-name="Helper.ExtentReportListener" />
	</listeners>
	
	 <test name="WPT Sanity Check" >
      
   <classes>
      <class name="WPT.SanityTests">
        <methods>
        <include name="verify_ValidUser"/>
		<include name="verify_Shelf" />
      </methods>
     </class> 
   </classes> 
  
  </test>
</suite>